:root {
    --white: #e5dceb;
    --black: #1d1d20;
    --light-blue: #3edbffb0;

    --body: #1e1d20;
    --body-dark: #121013;
    --body-dark-alpha: #1e1922d5;
    --primary: rgb(181, 126, 248);
    --primary-dark: rgb(108, 77, 148);
    --text: var(--white);
}

.dark {
    --body: #1e1d20;
    --body-dark: #121013;
    --body-dark-alpha: #1e1922d5;
    --primary: rgb(181, 126, 248);
    --primary-dark: rgb(108, 77, 148);
    --text: var(--white);
}

.light {
    --body: #deeeee;
    --body-dark: var(--black);
    --body-dark-alpha: #1d1922d5;
    --primary: rgb(130, 84, 187);
    --primary-dark: rgb(48, 34, 66);
    --text: var(--black);
}

// Z-INDEX
$z-index-header: 5;

// SPACES
$header-height: 12vh;



