$body: #281434;

$primary: #371e46;
$primary-dark: #1c0e24;
$primary-light: #8b41d2;

$secondary: #ff6089;
$secondary-dark: #f84473;
$secondary-light: #ff6188;
$secondary-lightest: #f84474;


$other: #ffab38;
$white: #f4d9e0