@import "@styles/variables.scss";
.wrapper {
  position: absolute;
  z-index: $z-index-header;
  position: fixed;
  top: 0;
  width: 100%;
}
.header {
  height: $header-height;
  background-color: var(--body-dark);
  color: var(--white);
  padding: 0 5em;
  display: flex;
  justify-content: space-between;

  @media (max-width: 746px) {
    padding: 0;
  }

  > ul {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: baseline;

    > li:first-child {
      flex-grow: 1;
      > a {
        font-size: 2em;
        text-decoration: none;
      }
    }

    > li:not(:first-child) {
      display: inline-block;
      > a {
        width: 2em;
        display: inline-block;
        > svg {
          margin-right: 0.5em;
        }
      }
    }
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    position: fixed;
    top: -250px;
    right: 0;
    align-items: flex-start;
    width: 100%;
    background-color: var(--body-dark-alpha);
    transition: top 0.5s ease-in-out;
    z-index: -1;
    > li {
      width: inherit;
      display: inherit;
      margin-left: 1.5rem;

      > a {
        width: inherit;
        white-space: nowrap;

        > svg {
          margin-right: 0.5em;
          height: 1.2em;
        }
      }

      > a::after {
        content: attr(aria-label);
      }
    }

    > li:first-child {
      padding-top: 1em;
    }

    > li:last-child {
      padding-bottom: 1em;
    }

    &.show {
      top: $header-height;
    }
  }

  .menu {
    > button {
      margin-right: 2em;
      padding-top: 2px;
      background: none;
      border: none;
      -webkit-background: none;
      -moz-background: none;
      -webkit-border: none;
      -moz-border: none;
      appearance: none;
      > svg {
        cursor: pointer;
      }
    }
  }
}
